.App {
    text-align: center;
}

.AddUserPage {
    transform: translate(0%, 20%)
    /* text-align: center; */
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: '900px', */
}

.ListAllMembersPage {
    height: 50vh;
}

.Display {
    justify-content: left;
    align-items: stretch;
    height: 50vh;
}

.Action {
    align-items: stretch;
    justify-content: left;
    display: flex;
    min-height: 25vh;
    min-width: 70vh;
    margin-bottom: 25px;
    margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .Img-action {
        position: 'absolute';
        left: '50%';
        top: '50%';
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.Member {
    background-color: whitesmoke;
    border-radius: 15%;
    display: flex;
    min-height: 25vh;
    min-width: 70vh;
    margin-bottom: 25px;
    margin-top: 20px;
}


.centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
    .Img-add {
        position: 'absolute';
        left: '50%';
        top: '50%';
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
    }
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}